#nav-bar {
	padding:0;

	 li a {
	 	color:white;
	 }

	 li {
	 	color:white;
	 }
}

#top-menu {
	background-color: #35332F;
	padding: 8px 0;

	ul {
		background-color: #35332F;	
	}
}

.top-bar-left {
	background-color: #35332F;

	ul {
		color:white;
		font-size: 20px;
	}
}

.top-bar-right {
	background-color: #35332F;
}
